@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Cairo:wght@700&family=Inter:wght@400;700&family=Jomhuria&family=Lexend+Deca&family=Open+Sans:ital,wght@1,300&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --paragraphs: hsla(0, 0%, 100%, 0.75);
    --background-headings-buttons: hsl(0, 0%, 95%);
}
body{
    background-color: var(--background-headings-buttons);
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 1.5rem;
    font-weight: 400;
}
main{
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 2rem;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
}
.container div{
    padding: 40px;
}
.container .sedans{
    background-color: var(--Bright-orange);
}
.container .suvs{
    background-color: var(--Dark-cyan);
}
.container .lux{
    background-color: var(--Very-dark-cyan);
}
.container img{
    margin-bottom: 2rem;
}
.container .title{
    color: var(--background-headings-buttons);
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 2rem;
}
.container .details{
    color: var(--paragraphs);
    line-height: 1.7;
}
.container a{
    text-decoration: none;
    background-color: var(--background-headings-buttons);
    padding: 13px 27px;
    border-radius: 26px;
    margin-top: 60px;
    display: inline-block;
    border: 2px solid var(--background-headings-buttons);
    transition: all .4s ease-in-out;
}
.container .btn-1{
    color: var(--Bright-orange);
}
.container .btn-1:hover{
    background-color: transparent;
    color: var(--background-headings-buttons);
    border: 2px solid var(--background-headings-buttons);
    cursor: pointer;
}
.container .btn-2{
    color: var(--Dark-cyan);
}
.container .btn-2:hover{
    background-color: transparent;
    color: var(--background-headings-buttons);
    border: 2px solid var(--background-headings-buttons);
    cursor: pointer;
}
.container .btn-3{
    color: var(--Very-dark-cyan);
}
.container .btn-3:hover{
    background-color: transparent;
    color: var(--background-headings-buttons);
    border: 2px solid var(--background-headings-buttons);
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 425px) {
    .container {
        margin: 2rem .5rem;
    }
}